[submodule "llvm"]
	path = llvm
	url = git@github.com:Muirey03/llvm-project-comp4013.git
[submodule "tests/xnu/darwin-xnu-build"]
	path = tests/xnu/darwin-xnu-build
	url = https://github.com/blacktop/darwin-xnu-build.git
